@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
.navbar-default{
    background-color: #3fa9f5;
    border-color: #3fa9f5;
    height: 70px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    margin-top: 10px;
}
